.carousel-image{
    filter: brightness(40%);
}
@media only screen and (max-width:576px) {
    .flex-for-small{
        display: flex;
        flex-direction: column;
    }
    
}
/* for company name hidden */
@media only screen and (max-width:768px){
    .company-invisible{
        visibility: hidden;
    }
}