.carousel-image{
    filter: brightness(40%);
}
.background-color{
    background-color:rgb(236, 227, 227);
}
@media only screen and (max-width:576px) {
    .flex-for-small{
        display: flex;
        flex-direction: column;
    }
    
}
